html {
    background-color: #f9f6f0;
    margin: 0 15rem;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #e0dfde;
}
.header_page {
    height: 200px;
    background-color: black;
}
.header_page img {
    width: 100px;
    height: auto;
}
.carrossel {
    margin: 0 auto

}
